body  {
    background-image: url('../pictures/background_bayo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.container{
    margin:80px;
    margin-top:30px;
    margin-bottom:30px;
    padding:20px;
    background-color:white;
    border:1px solid black;
    position:absolute;
    z-index:1;
}

.content{
    position:relative;
    z-index:2;
}

#warenkorb_obj{
    position:absolute;
    z-index:99;
    border:1px solid black;
    background:#ecec00;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top:-70px;
    right:-80px;
}

#warenkorb_obj img{
    position:relative;
    top:30px;
    left:20px;
    width:100px;
    height:150px;
    z-index:1;
}

#warenkorb_obj p{
    position:relative;
    bottom:90px;
    left:110px;
    z-index:9999;
    transform: rotate(25deg);
    font-size:60px;
    color:#ffffcc;
}

.div_logo{
    margin-top:55px;
}

.navbar{
    border-radius:0px;
}

#login-msg{
    border-right:1.5px solid gray;
    padding-right:10px;
}

#signup{
    margin:15px;
    cursor: pointer;
}

#login{
    margin:15px;
    margin-right:30px;
    cursor: pointer;
}

.div_login{
    background-color:#ffffcc;
    padding:20px;
}

.div_login h2{
    margin-bottom:50px;
    text-align:center;
}

.div_login img{
    border:1px solid black;
}

#div_login_right{
    float:right;
}

#div_login_left{
    padding-right:0px;
    margin-right:0px;
}

#div_login_middle{
    border-right:1px solid black;
    padding-right:70px;
    padding-top:300px;
}

.productCage{
    height:300px;
    width:280px;
    display:inline-block;
     margin: 1em;
    //float:left;
    
}

.productCage img{
    height:250px;
    width:250px;
}

/*.productCage:nth-child(2):after{
    content: "\A"; 
    white-space: pre;
}*/

#login {

}

