<?xml version="1.0" encoding="UTF-8"?>

<root>
    <visitor>
        <menuitem>
            <name>Home</name>
            <path>?page=0</path>
        </menuitem>
        <menuitem>
            <name>Produkte</name>
            <path>?page=1</path>
            <submenuitem>
                <name>Banana</name>
                <path>1</path>
            </submenuitem>
            <submenuitem>
                <name>Yoghurt</name>
                <path>2</path>
            </submenuitem>
            <submenuitem>
                <name>Eggs</name>
                <path>?page=1&amp;kat=3</path>
            </submenuitem>
            <submenuitem>
                <name>Rice</name>
                <path>?page=1&amp;kat=4</path>
            </submenuitem>
            <submenuitem>
                <name>Costumes</name>
                <path>?page=1&amp;kat=5</path>
            </submenuitem>
        </menuitem>
        <menuitem>
            <name>Warenkorb</name>
            <path>?page=7</path>
        </menuitem>
    </visitor>
    
    <user>
        <menuitem>
            <name>Home</name>
            <path>?page=0</path>
        </menuitem>
        <menuitem>
            <name>Produkte</name>
            <path>?page=1</path>
            <submenuitem>
                <name>Banana</name>
                <path>1</path>
            </submenuitem>
            <submenuitem>
                <name>Yoghurt</name>
                <path>2</path>
            </submenuitem>
            <submenuitem>
                <name>Eggs</name>
                <path>3</path>
            </submenuitem>
            <submenuitem>
                <name>Rice</name>
                <path>4</path>
            </submenuitem>
            <submenuitem>
                <name>Costumes</name>
                <path>5</path>
            </submenuitem>
        </menuitem>
        <menuitem>
            <name>Mein Konto</name>
            <path>?page=2</path>
        </menuitem>      
        <menuitem>
            <name>Warenkorb</name>
            <path>?page=3</path>
        </menuitem>
    </user>
    
    <admin>
        <menuitem>
            <name>Home</name>
            <path>?page=0</path>
        </menuitem>
        <menuitem>
            <name>Produkte bearbeiten</name>
            <path>?page=4</path>
            <submenuitem>
                <name>Produkte bearbeiten</name>
                <path>?page=4&amp;kat=1</path>
            </submenuitem>
            <submenuitem>
                <name>Neues Produkt</name>
                <path>?page=12</path>
            </submenuitem>
        </menuitem>
        <menuitem>
            <name>Kunden bearbeiten</name>
            <path>?page=5</path>
                        <submenuitem>
                <name>Kunden verwalten</name>
                <path>?page=6</path>
            </submenuitem>
        </menuitem>
        <menuitem>
            <name>Gutscheine verwalten</name>
            <path>?page=6</path>
            <submenuitem>
                <name>Gutscheine verwalten</name>
                <path>?page=6</path>
            </submenuitem>
            <submenuitem>
                <name>Neuer Gutschein</name>
                <path>?page=13</path>
            </submenuitem>
        </menuitem>
    </admin>
</root>
